
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&display=swap');
*{
padding: 0px;
margin: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(252, 249, 251);
    border: 15px solid rgb(255,227,215);
}
#aboutBorder{
    border: 15px solid #ff9f74;
}
#projectsBorder{
    border:15px solid #ffa99c;
}
#dataBorder{
    border: 15px solid #feb5a7;
}
a{
    border: 5px;
}
a:visited{
    text-decoration: none;
    color:black;

}
a:hover{
    text-decoration: none;
    color:black;
}
a:link{
    text-decoration: none;
    color:black;

}
a:active{
color:black;
}
/*-------------------------------------------*/

.header{
    background-image: url(Images/Background.webp);
    background-repeat: repeat;
    color: white;
    text-align: center;
    padding: 45px;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    letter-spacing: 10px;
}
#aboutHeader{
    background-image: url(Images/AboutBg.jpeg);
}
#projectsHeader{
    background-image: url(Images/projectsBg.jpeg);
    object-fit: cover;
}
#dataHeader{
    background-image: url(Images/dataBg.webp);
    object-fit:scale-down;
}
.header img{
    max-width: fit-content;
}

/*-------------------------------------------*/

.navbar{
    padding: 30px;
}
.navbar ul{
    list-style:none;
}
.navbar li {
    width: 10%;
    text-align: center;
    font-size: 20px;
    float: right;
}
#logo{
    float: left;
    margin-left: 10%;

}
#logo img{
    width: 50px;
    border-radius: 50%;
}
.navbar ul li:hover {
    border-bottom: 4px solid rgb(255,227,215);
}

.about{
    padding: 15% 15% 30% 15%;
}

.about h1{
    font-size:65px;
}
.about p{
    font-size: 25px;
}
.about img{
    width: 45%;
}
.socials{
    padding: 30px;
  }
.socials ul{
    list-style: none;
  }
  .socials li{
    width: 5%;
    text-align: center;
    font-size: 25px;
    color:rgb(255,227,215);
    float: left;
    padding-right:10% ;
  }

/*-------------------------------------------*/

.projects{
    align-items: center;
    vertical-align: middle;
    padding: 8%;

}
.headline{
    font-size: 40px;
    padding-bottom: 10%;
}
.swiperContainer{
    vertical-align: middle;
    align-items: center;
    overflow: hidden;

}
.swiperContent{
    display: flex;
    scroll-behavior: smooth;
}
.swiperCard{
    margin: 20px;
    padding: 20px;
    width: 90%;
    box-shadow: 0px 5px 15px 0px rgba(66, 66, 68, 0.3);
    scroll-behavior: smooth;


}
.swiperCardContent img:hover{
    opacity: 1;
}

.Image{
padding: 10px;
margin: 10px;
}
.Image img{
    opacity: 0.5;
    width: 210px;
    height: 210px;
    object-fit: cover;
    
}
.nextButton img,
 .prevButton img{
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}
.nextButton:hover img,
 .prevButton:hover img{
    opacity: 1;

}

.nextButton, .prevButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    border: none;
    outline: none;
    z-index: 9;
    cursor: pointer;
    
}
.nextButton{
    right: 0;
padding-top: 15%;
}
.prevButton{
    left: 0;
    padding-top: 15%;
}

/*-------------------------------------------*/

.contact{
    padding: 80px;
}
.contactContainer{
    padding: 30px;
    box-shadow: 0px 5px 15px 0px rgba(66, 66, 68, 0.3);
}
.contactContainer h1{
    margin-bottom: 10px;
    letter-spacing: 1.5px;

}
.contactContainer p{
    margin-bottom: 30px;
}
.contactContent{
    display: flex;
}
.left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.right{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(255,227,215);
    color:rgb(1, 1, 1);
    font-weight: 800px;
}
.input input{
    width:100%;
    border:none;
    border-bottom: 1px solid rgb(255,227,215);
    outline: none;
    padding-bottom: 10px;
}
.inputGroup{
    flex-basis: 45%;
    padding: 10px;
}
textarea{
    width:100%;
    outline: none;
    border: 1px solid rgb(255,227,215);
    padding: 30px;
    box-sizing: border-box;
    
}
label{
    margin-bottom: 10px;
    display: block;
}
.contactContent button{
    background: rgb(255,227,215);
    border: none;
    width: 100px;
    outline: none;
    box-sizing: border-box;
    color: white;
    padding:10px;
    margin-left: 10px;

}
h3{
    font-weight: 400px;
    margin-bottom: 5%;
}
tr td:first-child{
    padding: 10px;
}
/*-------------------------------------------*/
.dataContainer{
    margin: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 5px 15px 0px rgba(66, 66, 68, 0.3); 
    cursor: pointer;   
}
.card:hover {
    box-shadow: 5px 5px 8px black;
}
.cardContent{
text-align: center;
display: block;
}
.buttonContainer{
    padding: 10% 10% 0 10%;
    margin: 10px;

}
.buttonContainer input{
    margin: 5px;
    padding: 10px;
    width: 30%;
    border-color: #feb5a7;
    outline: #feb5a7;
}
.buttonContainer textarea{
    margin: 5px;
    padding: 10px;
    width: 30%;
}
.buttonContainer button{
     border-radius: 5px;
     padding: 10px;
     background-color: #feb5a7;
     outline: none;
     border: none;
}
.buttonContainer button:hover{
    background-color: rgb(193, 192, 192);
    border-color: #feb5a7;
}
 #submitBtn{
    border-radius: 5px;
    padding: 10px;
    background-color: #feb5a7;
    outline: none;
    border: none;
    width: 10%;
}
#submitBtn:hover{
    background-color: rgb(193, 192, 192);
    border-color: #feb5a7;
}
.dataTitle{
    font-size: 1rem;
    padding: 10px;
}
.dataBody{
    font-size: 12px;
    padding: 10px;
}
.wrapper{
    display: flex;
}
#editBtn{
    border-radius: 5px;
    padding: 10px;
    background-color: #feb5a7;
    outline: none;
    border: none;
    width: 30%;
}
#editBtn:hover{
    background-color: rgb(193, 192, 192);
    border-color: #feb5a7;
}


